*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;
}
.child{
    border: 2px solid black;
    border-radius: 20px;
    height: 150px;
    width: 20px;
}
.subchild-1{
    background-color: black;
    animation-name: A;
    animation-duration: 0.5s;
    /* animation-delay: 0.3s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.subchild-2{
    background-color: black;
    animation-name: B;
    animation-duration: 0.6s;
    /* animation-delay: 0.5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}.subchild-3{
    background-color: black;
    animation-name: C;
    animation-duration: 0.7s;
    /* animation-delay: 0.7s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}.subchild-4{
    background-color: black;
    animation-name: D;
    animation-duration: 0.8s;
    /* animation-delay: 0.8s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}.subchild-5{
    background-color: black;
    animation-name: E;
    animation-duration: 0.9s;
    /* animation-delay: 0.9s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes A {
    0%{
        height: 0px;
    }
    25%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 200px;
    }
}
@keyframes B {
    0%{
        height: 200px;
    }
    25%{
        height: 150px;
    }
    75%{
        height: 100px;
    }
    100%{
        height: 50px;
    }
}
@keyframes C {
    0%{
        height: 50px;
    }
    25%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 100px;
    }
}
@keyframes D {
    0%{
        height: 50px;
    }
    25%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 200px;
    }

}
@keyframes E {
    0%{
        height: 50px;
    }
    25%{
        height: 100px;
    }
    75%{
        height: 150px;
    }
    100%{
        height: 100px;
    }
}